/* Feel free to edit CSS of body if you'd like. We provide you the light gray background color and font family in the body styling */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #e6ecf0;
}

/* TODO: Create CSS for your Twitter Mockup */

ul {
  box-sizing: border-box;
  list-style-type: none;
  position: fixed;
  top: 0;
  background-color: white;
  height: 46px;
  z-index: 100;
  width: 100%;
  margin: 0px;
}

li {
  float: left;
  font-weight: bold;
}

li a {
  display: block;
  color: rgb(90, 90, 90);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  border-bottom: 3px solid #4ab3f4;
}

.nav-center {
  display: block;
  width: 50px;
  height: 50px;
  margin: auto;
}

.nav-center img {
  padding-top: 5px;
}

.nav-right button {
  margin: 3px 10px;
  border: none;
  float: right;
  border-radius: 15px;
  color: white;
  text-align: center;
  padding: 10px 18px;
  background-color: #33a3ff;
  font-size: medium;
}

.nav-right button:hover {
  background-color: #7bc4ff;
}

.skip-link {
  display: none;
}

.content-wrapper {
  display: flex;
  justify-content: space-around;
  max-width: 1190px;
  height: auto;
  margin: 56px auto;
  /* border: 1px solid red; */
}

.content-left {
  width: 290px;
  height: 215px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  background-color: white;
}

.cover-picture {
  max-width: 290px;
  position: relative;
  background-color: black;
  z-index: 2;
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 20px 0;
}

.profile-picture {
  display: flex;
  position: relative;
  top: -20px;
  height: 75px;
  background-color: white;
  /* border: 1px solid red; */
}

.profile-picture img {
  margin: 0 10px;
  border-radius: 50%;
  border: 2px solid white;
  width: 60px;
  height: 60px;
  z-index: 5;
}

.profile-picture p {
  margin: 25px 0 10px 10px;
}

.profile-stats {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -10px;
  /* border: 1px solid red; */
  font-weight: bold;
  color: gray;
  line-height: 2;
}

.profile-stats p {
  margin: 0;
}

.content-center {
  display: flex;
  flex-direction: column;
  width: 580px;
  height: auto;
  margin: 0 5px;
  /* border: 1px solid red; */
  background-color: white;
}

.tweet {
  display: flex;
  border-bottom: 1px solid #e6ecf0;
  /* Had this from lab1 but getting rid of it fixes spacing issues */
  /* min-height: 51px; */
}

.tweet img {
  margin: 10px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.username {
  margin: 10px 0 0;
}
.tweet-text {
  margin: 8px 5px 16px 0;
}

.content-right {
  width: 290px;
  height: 250px;
  /* border: 1px solid red; */
  background-color: white;
}

.right-head {
  margin: 10px;
}

.suggested-profile {
  display: flex;
  border-bottom: 1px solid #e6ecf0;
  min-height: 51px;
}

.suggested-profile img {
  margin: 10px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.content-right button {
  border: 2px solid #33a3ff;
  border-radius: 15px;
  background-color: white;
  text-align: center;
  margin: 10px 0;
  padding: 10px 18px;
  font-size: medium;
  color: #33a3ff;
}

@media screen and (max-width: 1200px) {
  .content-right {
    display: none;
  }
}
